# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  matrix:
    
    - CONDA_NPY=110  CONDA_PERL=5.20.3.1  CONDA_PY=27
    - CONDA_NPY=111  CONDA_PERL=5.20.3.1  CONDA_PY=27
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "aLx/7SM8cpNzQE1kk0W3kUsLDY5T0iMF7NNfxm+xbB+OU8NtdnFMU+xCb3jn7NuwvioXqmwdy1KCSGZI/rQrPORpQoo8PKyOPSdLy5h6S++ocxRFkRYcijQJ+gGNdJ5N9kinGsUFw/2Cd6tBnhTSr6O5Qe+gRQawkR5FygYiq2WHYZnTMILRcvUsY6cvjyUp5XrKAkNJtxCFmBs9RA3mwHRsnw8ABWdkoe6UYkwsyAe7D+bt5OXN4PVQ0EKhJaRPSscS9NLyicDjOIOCfGgW9a4uuniOARVOQeVbEH3LUlgNdhnb1EYJTOZ/f5+74TQ3BRx7tm9HDCxOQEJXDYFi3cDG0lSZFEumxW9SgbaEngzFiGGSdKRAiTaq0lqqTwrtmc7YgSxzGx/1RIFRR5xnc7+DBo3r9TSjv5AIiHDMtd4l3q7ogZLqwsFtvm056lPKHzCk8HRuvKiUJqk4rj5OsK4dQ4VZuvy3hnFzMB5eyHSrOl1AbLWDr5IiMbI+n74zB9aE+WuHIe/BETFHumxCffcFCOdsof01YAwROHcJIKwe5Wo/4RLjiub8BS4LCqxEktj4qjHWr3kvuaT//QFfckDRfCi9/KhduC8KMNzaZo1uCJV86ENinz239h/14ftLU18LUtKsxSrsImpsCDb8Np59pc2uGH3o8yIZOPSk+7o="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH

      conda config --set show_channel_urls true
      conda update --yes conda
      conda install --yes conda-build=1.20.0 jinja2 anaconda-client
      conda config --add channels conda-forge
      

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
